@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');
$title-font: "Stick No Bills",sans-serif;
$body-font: 'Advent Pro', sans-serif;


body {
    font-family: $body-font;
    overflow-x: hidden;
    background-color: #F0F0F0;
    color: #ffffff; 

    a:hover {
        background-color: #141414 !important;
        text-decoration: none !important;
        color: #ffffff !important;
    }
}

/*==== Cover Section ====*/
.cover {
      background: url('../img/profile.JPG') ;
      height: 100vh;
      background-size: cover;
      filter: grayscale(100%); 

      .white-aside{
          background-color: #ffffffef;
          height: 100vh;
      }

      .overlay {
          position: relative;
          height: 100vh;
          width: 100vw;
          background-size: cover;
          background-color: #000000da;
      }

      .cover-content {
      box-shadow: -40px -2px 0px #1B1212, -40px 0px  black;
      }

    .navbar {
        background: #00000009;
        height: 4rem;
        margin-left: -10px;
        
        .nav-link {
            color: #ffffff;
            font-size: 1.2rem;
            border-right: 1px solid white;
            letter-spacing: .2rem;
        }

        .nav-link:hover {
            color: #000000;
            font-weight: 900;
        }
    }

    .headings {

        margin-top: 7% !important;
        color: #ffffff;
        h4{
            font-weight: 400;
            span {
                font-weight: 900;
                font-size: 3rem;
            }
        }

        .firstname {
            font-size: 11rem;
            font-weight: 900;
            font-family: $title-font;
            letter-spacing: .3rem;
            margin-top: -2rem;
        }
        .lastname {
            font-size: 5rem;
            font-weight: 900;
            font-style: italic;
            font-family: $title-font;
            margin-top: -3.3rem;
            background: #000000;
            max-width: 18rem;
            padding-left:.5rem;
        }

        .desc {
            display: flex;
        }
        .fa-code {
            font-size: 1.5rem;
            font-weight: 600;
        }
        p {
            font-size: 1.5rem;
            font-weight: 200;
            letter-spacing: .1rem;
        }

        .portfolio-btn {
            width: 10rem;
            font-weight: 900;
            letter-spacing: .2rem;
        }
    }

    .cover-socials {
        position: relative;
        bottom: 10%;
        right: -85%; 

        a {
            font-size: 1.3rem;
            margin-right: .3rem;
            color: #ffffff;
        }
    }
}

.title {
    font-family: $title-font;
    font-size: 7rem;
    font-weight: 900;    
}


main {
    background: url('../img/3.jpg')  center no-repeat fixed;
    // filter: grayscale(100%);
    .overlay-main {
        background-color: #00000038;
    }

    .white-aside-2{
        background-color: #ffffffef;
        // height: 100vh;
    }
    .cover-content-2{
        box-shadow: -40px -2px 0px #141414, -40px 0px  black;
        }




        /*==== About Section ====*/
        .about-sect {
            color: #ffffff;
            .info {
                background-color: #141414;
                border-radius: 5px;
                padding: 5rem;
                margin-left: 5rem;

                p {
                    font-size: 1.4rem;
                }
            }

            h2 {
                padding-left: 10%;
            }

            .card-deck .card {
                background: transparent;
                border: none;

                img {
                   width: 4rem;
                   position: relative;
                   margin: 0 auto;
                   filter: grayscale(50%);
                }

                img:hover {
                    filter: grayscale(0%);
                }

                .card-title {
                    font-family: $title-font;
                    letter-spacing: .1rem;
                    font-weight: 100;
                }
            }
        }




        /*==== Work Section ====*/
        .work-sect {
            color: #ffffff; 

            h2 {
                margin-left: -5rem;
            }

            .card-deck {
                margin: 0 auto;

                .card {
                    background-color: #141414;
                    border: 2px solid #141414;
                    box-shadow: 0rem 0rem 2rem #0d0d0e;
                    .card-title {
                        font-family: $title-font;
                        letter-spacing: .1rem;
                        font-weight: 600;
                    }

                    a {
                        width: 10rem;
                        font-weight: 900;
                        letter-spacing: .1rem;
                    }
                }
            }
        }
}


/*==== Contact Section ====*/
.contact-sect {

    h2 {
        margin-left: -5rem;
    }
        
    .info2 {
        background-color: #141414;
        border-radius: 5px;
        padding: 5rem;
        margin-left: 5rem;

        p {
            font-size: 1.4rem;
        }

         .btn {
            width: 10rem;
            font-weight: 900;
            letter-spacing: .1rem;
            font-family: $title-font;
        }

        .underline {
            width: 50rem;
            height: 2px;
            background-color: #ffffff;
        }
        .sosh {
            color: #141414;
            background-color: #ffffff;
            font-size: 1.3rem;
            padding: .8rem;
            border-radius: 5px;
            font-family: $title-font !important;

            i{
                color: #000000;
            }
        }
    }   
}


.end-text {
    padding-top: 6rem;
}

.to-top {
position: relative;
left: 72rem;
bottom:3rem !important;
background-color: #141414;
padding: .8rem;
border-radius: 5px;
color: #ffffff;
}




@media (max-width: 576px) { 

    .cover .headings {
        margin-top: 30% !important;
            h4 {
                font-weight: 200;
                font-size: 1rem;
            }

            .firstname {
                font-size: 5rem;
                font-weight: 900;
                letter-spacing: .1rem;
                margin-top: -1rem;
            }

            .lastname {
                font-size: 2rem;
                font-family: "Stick No Bills",sans-serif;
                margin-top: -1.6rem;
                max-width: 8rem;
                padding-left: .3rem;
            }

            h4 span {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
                font-weight: 200;
                letter-spacing: .1rem;
            }

            .fa-code {
                font-size: 1rem;
                font-weight: 600;
            }
    }

    .cover-socials {
        position: relative;
        bottom: 10%;
        left: 15%;
    }

    .about-sect {
        .info {
            padding: 2.5rem !important;
            margin-left: 0rem !important;

            p {
                font-size: 1.3rem !important;
            }
        }
    }

    .work-sect {

        h2 {
            margin-left: 4rem !important;
        }

    }

    .contact-sect {

        h2 {
            margin-left: 3rem;
        }
            
        .info2 {
            padding: 2.5rem;
            margin-left: 0rem;
    
            p {
                font-size: 1.3rem;
            }
    
            .underline {
                width: 110%;
                height: 2px;
                background-color: #ffffff;
            }
            .sosh {
                font-size: .8rem;
                font-weight: 800;
                padding: .5rem;
                border-radius: 5px;
                
            }
        }   
    }
 }

